@charset "utf-8";

:root {
    --main-color: rgba(242, 233, 216, 1);
    --sub-color :rgba(217, 118, 82, 1);
    --point-color : rgba(38, 49, 64, 1);
    --text-color : rgba(0, 0, 0, 1);

}
@font-face {
    font-family: 'Spoqa Han Sans Neo';
    font-weight: 400;
    src: local('Spoqa Han Sans Neo Regular'),
    url('https://cdn.jsdelivr.net/gh/spoqa/spoqa-han-sans@latest/Subset/SpoqaHanSansNeo/SpoqaHanSansNeo-Regular.woff2') format('woff2'),
    url('https://cdn.jsdelivr.net/gh/spoqa/spoqa-han-sans@latest/Subset/SpoqaHanSansNeo/SpoqaHanSansNeo-Regular.woff') format('woff'),
    url('https://cdn.jsdelivr.net/gh/spoqa/spoqa-han-sans@latest/Subset/SpoqaHanSansNeo/SpoqaHanSansNeo-Regular.ttf') format('truetype');
}
@font-face {
    font-family: 'Spoqa Han Sans Neo';
    font-weight: 700;
    src: local('Spoqa Han Sans Neo Bold'),
    url('https://cdn.jsdelivr.net/gh/spoqa/spoqa-han-sans@latest/Subset/SpoqaHanSansNeo/SpoqaHanSansNeo-Bold.woff2') format('woff2'),
    url('https://cdn.jsdelivr.net/gh/spoqa/spoqa-han-sans@latest/Subset/SpoqaHanSansNeo/SpoqaHanSansNeo-Bold.woff') format('woff'),
    url('https://cdn.jsdelivr.net/gh/spoqa/spoqa-han-sans@latest/Subset/SpoqaHanSansNeo/SpoqaHanSansNeo-Bold.ttf') format('truetype');
}

body { font-family: 'Spoqa Han Sans Neo', sans-serif; color: var(--text-color); }
/* common container */
.common-container {
    /* 콘텐츠 영역 - 1280 */
    max-width: 1344px;
    padding: 0 32px;
    width: 100%;
    margin: 0 auto;
}

/* common button style */
.btn-common-style {
    display: inline-block;
    padding: 13px 28px;
    border-radius: 40px;
    text-align: center;
    font-size: 1.6rem;
    font-weight: 700;
    color: #fff;
    border: 1px solid var(--sub-color);
    background-color: var(--sub-color);
    transition: all 0.2s;
}
.btn-common-style:hover {
    background-color: #fff;
    color: var(--sub-color);
}

/* contents image style */
.cont-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/* common display style */
.pc-only { display: block; }
.mo-only,.tab-only { display: none; }

.ally-hidden {
    clip: rect(1px,1px,1px,1px);
    clip-path: inset(50%);
    width: 1px;
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
}

/* scroll top */
#scroll-top {
    visibility: hidden;
    position: fixed;
    right: 24px;
    bottom: 24px;
    z-index: 8;
    width: 50px;
    height: 50px;
    border:1px solid rgba(118, 118, 118, 1);
    border-radius: 500%;
    opacity: 0.7;
    cursor: pointer;
    transition: all 0.2s;
    background-color: #fff;
    background: #fff url('../assets/keyboard_arrow_up.svg') center / cover;
}
#scroll-top:hover {
    opacity: 1;
}

/* header */
header {
    position: sticky;
    top: 0;
    left: 0;
    z-index: 10;
    width: 100%;
    padding: 26px 0;
    background-color: var(--main-color);
}
header .header-depth {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
header h1 img {
    max-width: 132px;
    width: 132px;
}
.navi-box {
    display: flex;
    align-items: center;
    gap: 40px;
}
.navi-box nav ul {
    display: flex;
    align-items: center;
    gap: 30px;
}
.navi-box.footer-ver nav ul {
    gap:20px;
}

/* section1 - banner-section */
.banner-section {
    position: relative;
    width: 100%;
    height: calc(100vh - 102px);
    background-color: var(--main-color);
    display: flex;
    align-items: center;
    overflow: hidden;
}
.banner-section .section-depth {
    position: relative;
    top: -60px;
}
.banner-section .banner-title {
    font-size: min(4.8rem, 4.3vw);
    font-weight: 700;
}
.banner-section .banner-desc {
    margin: 40px 0;
}
.hodu-on-box {
    position: absolute;
    bottom: -125px;
    right: calc((100vw - 1280px) / 2);
    z-index: 2;
    max-height: 98vh;
}

/* section2 - introduce */
.introduce-section {
    padding-top: 80px;
    position: relative;
    z-index: 3;
    background-color: #fff;
}
.introduce-section .section-depth {
    display: flex;
    align-items: center;
    gap: min(110px, 7.6vw);
}
.introduce-section .img-box {
    flex-basis: min(660px,51.56vw);
    box-shadow: 10px 10px 30px 0px rgba(0, 0, 0, 0.25);
    border-radius: 30px;
    overflow: hidden;
}
.introduce-section .text-box {
    flex-basis: 0;
    flex-grow: 1;
}
.introduce-section .text-box p:first-child {
    font-size: min(3.6rem,2.5vw);
    font-weight: 700;
}
.introduce-section .text-box p:nth-child(2) {
    margin-top: 40px;
}

/* section3 */
.gallery-section {
    padding-top: 120px;
    text-align: center;
}
.gallery-title {
    font-size: 4.8rem;
    font-weight: 700;
    color: var(--sub-color);
}
.gallery-desc {
    margin-top: 40px;
}
.gallery-desc .point-color {
    color: var(--sub-color);
    font-weight: 700;
}
.gallery-section .slide-wrap {
    margin-top: 88px;
}
.gallery-section .slide-wrapper {
    display: flex;
    gap: 72px;
}
.gallery-section .slide-img {
    flex-basis: 378px;
    aspect-ratio: 1;
    box-shadow: 10px 10px 30px 0px rgba(0, 0, 0, 0.25);
    border-radius: 30px;
    overflow: hidden;
}
.gallery-section .more-view-contaner {
    margin-top: 90px;
    padding: 0 170px;
    display: flex;
    align-items: center;
    gap: 50px;
    text-align: left;
}
.gallery-section .more-view-contaner p {
    flex-basis: 0;
    flex-grow: 1;
}
.gallery-section .more-view-contaner .more-view {
    flex-basis: 147px;
}

/* section4 - subscribe */
.subscribe-section {
    position: relative;
    margin-top: 196px;
    aspect-ratio: 1920 / 340;
    background: url('../assets/background-hodu.png') no-repeat center / cover;
}
.subscribe-section .form-field {
    max-width: 1280px;
    width: 100%;
    position: absolute;
    left: 50%;
    transform: translate(-50%,-50%);
    background-color: var(--point-color);
    border-radius: 30px;
    padding: 50px 58px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.subscribe-section .form-title {
    font-size: 3.6rem;
    font-weight: 700;
    color: #fff;
}
.subscribe-section .form-desc {
    margin-top: 18px;
    font-size: 1.4rem;
    color: var(--main-color);
}
.subscribe-section form {
    position: relative;
    width: min(530px, 40vw);
    background-color: #fff;
    display: flex;
    align-items: center;
    padding: 5px 5px 5px 15px;
    border-radius: 40px;
    overflow: hidden;
}
.subscribe-section form::after {
    content: '';
    display: block;
    position: absolute;
    top: 50%;
    left: 28px;
    transform: translateY(-50%);
    width: 24px;
    height: 24px;
    background: url('../assets/mail-icon.svg') no-repeat center / cover;
}
.subscribe-section input[type="email"] {
    flex-basis: 0;
    flex-grow: 1;
    align-self: stretch;
    border: unset;
    padding-left: 53px;
}
.subscribe-section form:focus-within {
    outline: 3px solid var(--sub-color);
}
.subscribe-section input[type="email"]:focus {
    border: unset;
    outline: unset;
}
.subscribe-section button {
    flex-basis: 136px;
}

/* footer */
footer {
    padding: 45px 0;
    background-color: #fff;
}
footer .footer-depth {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.footer-depth .sns-nav li a {
    display: inline-block;
    width: 42px;
    height: 42px;
    background-color: var(--sub-color);
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 500%;
}
.footer-depth .sns-nav li a img { transition: all 0.3s;}
.footer-depth .sns-nav li a:hover img {
    transform: scale(1.25);
}

/* modal */
.modal-submit {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    z-index: 10;
    width: 600px;
    padding: 60px 0 40px 0;
    border-radius: 30px;
    border: unset;
    box-shadow: 0px 0px 30px 0px rgba(0, 0, 0, 0.3);
    background: url('../assets/modal-background.png') no-repeat center / cover;
    text-align: center;
}
.modal-submit.on {
    display: block;
}
.modal-submit p:first-of-type {
    margin: 24px 0 12px 0;
    font-size: 3.6rem;
    font-weight: 700;
    color: var(--sub-color);
}
.modal-submit p:nth-of-type(2) {
    margin-bottom: 38px;
    font-size: 1.4rem;
}

@media screen and (max-width:1344px) {
    .hodu-on-box {
        height: 66.5vw;
        right: 32px;
    }
    .subscribe-section .form-field {
        max-width: calc(100vw - 64px);
    }
}

@media screen and (max-width:1080px) {
    /* section4 */
    .subscribe-section {
        margin-top: 200px;
        aspect-ratio: 390 / 145;
    }
    .subscribe-section .form-field {
        flex-direction: column;
        justify-content: start;
        align-items: start;
        gap: 30px;
        border-radius: 18px;
    }
    .subscribe-section form {
        width: 100%;
    }
}

@media screen and (max-width:992px) {
   /* common button style */
    .btn-common-style {
        padding: 9.5px 24px;
        font-size: 1.4rem;
    }
    .pc-only { display: none; }
    /* header */
    header {
        padding: 22px 0;
    }
    header h1 img {
        max-width: 92px;
    }
    .navi-box.footer-ver nav ul {
        gap:16px;
    }
    .mobile-menu-btn {
        border: unset;
        background-color: transparent;
        width: 32px;
        height: 32px;
        background: url('../assets/menu.svg') no-repeat center / cover;
        cursor: pointer;
    }

    /* section1 - banner */
    .banner-section {
        padding-top: 40px;
        max-height: 720px;
        height: auto;
        background-color: var(--main-color);
        display: block;
    }
    .banner-section .section-depth {
        top: 0;
        text-align: center;
    }
    .banner-section .banner-title {
        line-height: 1.28;
        font-size: min(4.3rem,2.4rem);
    }
    .banner-section .banner-desc {
        font-size: 1.4rem;
        margin: 30px 0;
    }
    .hodu-on-box {
        position: relative;
        bottom: -30px;
        right: unset;
        left: 50%;
        height: auto;
        transform: translateX(-50%);
    }

    /* section2 */
    .introduce-section .section-depth {
        gap: min(110px, 2.6vw);
    }
    /* section3 - gallery */
    .gallery-section {
        padding-top: 60px;
    }
    .gallery-section .common-container {
        overflow: hidden;
    }
    .gallery-title {
        font-size: min(2.4rem,6.1vw)
    }
    .gallery-desc {
        margin-top: 30px;
        font-size: 1.6rem;
    }
    .gallery-section .slide-wrap {
        width: calc(100vw + 64px);
        margin-left: -32px;
        margin-top: 20px;
    }
    .gallery-section .slide-scroll {
        width: 100vw;
        overflow-x: scroll;
        padding: 20px 32px 38px;
    }
    .slide-scroll::-webkit-scrollbar  {
        height: 6px;
    }
    .slide-wrap:hover .slide-scroll::-webkit-scrollbar-thumb {
        background: var(--sub-color);
        border-radius: 10px;
    }
    .slide-wrap:hover .slide-scroll::-webkit-scrollbar-track {
        background: var(--main-color);
    }
    .gallery-section .slide-wrapper {
        flex-wrap: nowrap;
        gap: 20px;
        width: max-content;
    }
    .gallery-section .slide-img {
        flex-basis: 284px;
    }
    .gallery-section .more-view-contaner {
        margin-top: 22px;
        padding: 0;
        gap: 30px;
    }

    /* section4 */
    .subscribe-section {
        aspect-ratio: 390 / 240;
    }
    .subscribe-section .form-field {
        padding: 35px 32px 90px;
    }
    .subscribe-section .form-title {
        font-size: 2.4rem;
    }
    .subscribe-section .form-desc {
        margin-top: 20px;
        font-size: min(1.4rem, 3.5vw);
    }
    .subscribe-section form {
        padding: 5px 15px;
        border-radius: 40px;
        overflow: visible;
    }
    .subscribe-section form::after {
        left: 16px;
        width: 18px;
        height: 18px;
    }
    .subscribe-section input[type="email"] {
        width: 100%;
        height: 30px;
        align-self: initial;
        padding-left: 33px;
    }
    .subscribe-section button {
        position: absolute;
        top: 60px;
        z-index: 10;
        right: 0;
    }
}

@media screen and (max-width:768px) {
    .tab-only { display: block; }
    .navi-box:not(.footer-ver) { display: none; }

    /* section2 - introduce */
    .introduce-section {
        padding-top: 40px;
    }
    .introduce-section .section-depth {
        flex-direction: column;
        align-items: initial;
        gap: 40px;
    }
    .introduce-section .img-box {
        flex-basis: 100%;
        aspect-ratio: 326 / 190;
    }
    .introduce-section .text-box p:first-child {
        font-size: min(2.4rem,6.1vw);
    }
    .introduce-section .text-box p:nth-child(2) {
        margin-top: 20px;
        font-size: min(1.4rem, 3.5vw);
    }
    .gallery-section .more-view-contaner {
        display: flex;
        flex-direction: column;
        align-items: start;
    }
    .gallery-section .more-view-contaner .more-view {
        flex-basis: initial;
        align-self: end;
    }

    /* footer */
    footer {
        padding: 30px 0;
    }
    footer .common-container {
        padding: 0 20px;
    }
    footer .footer-depth {
        position: relative;
        display: flex;
        flex-direction: column;
        justify-content: start;
        align-items: start;
        gap: 58px;
    }
    .footer-logo {
        max-width: 112px;
    }
    .footer-depth .sns-nav li a {
        width: 32px;
        height: 32px;
    }
    .footer-depth .sns-nav img {
        max-width: 18px;
    }
    .footer-menu-box {
        position: absolute;
        top: 0;
        right: 0;
        z-index: 3;
    }
    .footer-menu-box ul li {
        margin-bottom: 15px;
        font-size: 14px;
    }
    .footer-menu-box ul a {
        color: rgba(118, 118, 118, 1);
        transition: all 0.2s;
    }
    .footer-menu-box ul a:hover {
        color: var(--text-color);
    }

    /* modal */
    .modal-submit {
        width: 300px;
        padding: 40px 0 30px 0;
        background: var(--main-color) url('../assets/modal-background-mobile.png') no-repeat;
    }
    .modal-submit p:first-of-type {
        margin-bottom: 10px;
        font-size: 2.4rem;
    }
    .modal-submit p:nth-of-type(2) {
        margin-bottom: 28px;
    }

    /* mobile hamburger menu */
    .hamburger-menu-box {
        position: fixed;
        top: 0;
        right: 0;
        z-index: 11;
        width: 0;
        height: 100vh;
        background-color: var(--point-color);
        transition: all 0.2s;
    }
    .hamburger-menu-box.on {
        width: 289px;
    }
    .hamburger-menu-box .menu-head {
        padding:22px 20px;
    }
    .menu-head button {
        width: 32px;
        height: 32px;
        background: var(--point-color)
        url('../assets/arrow-right.svg');
        border: unset;
    }
    .hamburger-menu-box .menu-cont {
        padding: 44px 40px;
    }
    .menu-cont nav {
        padding-left: 10px;
    }
    .menu-cont nav li {
        margin-bottom: 30px;
    }
    .menu-cont nav a {
        font-weight: 700;
        color: #fff;
    }
    .menu-cont .btn-common-style {
        margin-top: 20px;
    }
}

@media screen and (max-width: 500px) {
    .mo-only { display: block; }
    .subscribe-section {
        margin-top: 330px;
    }
    .subscribe-section .form-field {
        transform: translate(-50%,-79.89%);
    }
}